*.iml
.gradle/
gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
openCVLibrary340/

.idea
*.iml
*.ipr
*.iws
gradlew.bat
build
local.properties
reports
/captures
jacoco.exec
.DS_Store
*.apk
*.ap_
*.log
.navigation/
*.dex
*.class
bin/
gen/
out
lib
.classpath
.project
.settings/
eclipsebin
proguard/
obj/
jinLibs

